# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=your_google_client_id
GOOGLE_OAUTH_CLIENT_SECRET=your_google_client_secret

# Microsoft OAuth (Azure AD)
# Obtener de: https://portal.azure.com/#view/Microsoft_AAD_RegisteredApps/ApplicationsListBlade
AZURE_APPLICATION_CLIENT_ID=your_azure_client_id
AZURE_APPLICATION_CLIENT_SECRET=your_azure_client_secret
