<div class="admin-header">
  <h1>Editar episodio: <%= @episode.title %></h1>
</div>
<div class="admin-nav-strip">
  <%= link_to "← Curso", admin_course_path(@course) %>
</div>
<%= render "form", episode: @episode %>
