<h1>Panel de Administración</h1>
<p>Bienvenido al panel. Desde aquí puedes gestionar los datos internos.</p>
<ul>
  <li><%= link_to "Gestionar Categorías", admin_categories_path %></li>
  <li><%= link_to "Gestionar Herramientas", admin_tools_path %></li>
</ul>
<br>
<%= link_to "← Volver a la vista pública", root_path %>
